/*                              Eléments de base
==============================================================================*/

body {

    width: 100%;
    margin: 0;
    background-color: #efefef;
    color: #666666;
    font-family: "Palatino Linotype", Arial, sans-serif;

}

.flex-column {

    display: flex;
    flex-direction: column;

}

.flex-column-center {

    align-items: center;

}

#flash-message {

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: calc(100vw - 150px);
    min-height: 100px;
    font-size: 1.4em;
    color: #efefef;
    opacity: 0.9;

}

#php-flash-message .message {

    display: flex;
    justify-content: center;
    width: calc(100vw - 150px);
    height: 100px;
    font-size: 1.4em;

}

.message {

    display: flex;
    align-items: center;

}

.error-message {

    background-color: #AA3333;
    border-top: 2px solid #880000;
    border-bottom: 2px solid #880000;
    color: #efefef;

}

.success-message {

    background-color: #5cb85c;
    border-top: 2px solid #4cae4c;
    border-bottom: 2px solid #4cae4c;
    color: #efefef;

}

#page-wrap {

    display: flex;
    min-height: 100vh;

}

header {

    width: 150px;
    background-color: #060606;
    color: #efefef;
    opacity: 0.7;
    transition: all 0.3s ease-in-out;

}

header:hover {

    opacity: 0.9;

}

#header-position {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 30px 0;

}

header button {

    width: 150px;
    height: 50px;
    opacity: 0.7;
    transition: all 0.3s ease-in-out;

}

header button:hover {

    opacity: 1;

}

#menu {

    margin: 20px 0;

}

header a , header a:hover, header a:focus, #menu-xs a, #menu-xs a:hover, #menu-xs a:focus {

    text-decoration: none;
    color: #efefef;

}

#menu li, #menu-xs li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    opacity: 0.7;
    transition: all 0.3s ease-in-out;

}

#menu li:hover, #menu-xs li:hover {

    background-color: #efefef;
    color: #666666;
    opacity: 1;

}

#menu-xs {

    display: none;

}

#page-content {

    flex: 1;

}

/*                              Home Page
==============================================================================*/

#boxes {

    width: 100%;
    height: 500px;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #efefef;

}

.box {

    width: 30%;
    height: 50%;
    padding: 0 30px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.3s ease-in-out;

}

.box:hover {

    opacity: 1;

}

#createPostBox {

    background: #330099;

}

#postsListBox {

    background: #339900;

}

#commentsListBox {

    background: #ff9900;

}

/*                              Add Post
==============================================================================*/

#addPostFormWrap {

    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#addPostFormWrap form {

    width: 70%;
    height: 750px;
    background: #666666;
    color: #efefef;
    padding: 30px;
    border-radius: 2px;
    text-align: center;
    opacity: 0.7;
    transition: all 0.3s ease-in-out;

}

#addPostFormWrap form:hover {

    opacity: 0.9;

}

#addPostFormWrap form input {

    margin: 10px 0;

}

.mce-tinymce {

    color: #060606;

}

#addPostFormWrap form .submit-button {

    width: 100%;
    height: 50px;
    background: #337ab7;
    border-color: #2e6da4;
    color: #efefef;
    font-size: 1.5em;
    margin: 20px 0;
    transition: all 800ms ease-in-out;

}

#addPostFormWrap form .submit-button:hover {

    background: #5cb85c;
    border-color: #4cae4c;

}

/*                              Posts list
==============================================================================*/

#postsListWrap {

    display: flex;
    justify-content: center;
    width: 100%;

}

#postsTable {

    width: 80%;

}

#postsTable td {

    vertical-align: middle;

}

#postsTable button {

    width: 100px;
    height: 50px;
    margin: 0 10px;
    opacity: 0.7;
    transition: all 0.3s ease-in-out;

}

#postsTable button:hover {

    opacity: 1;

}

#commentContent {

    height: 500px;

}

/*                              Medias queries
==============================================================================*/

@media (max-width: 810px) {

    /*                  Add Post                    */

    #addPostFormWrap form {

        width: 90%;

    }

    /*                  Posts List                  */

    #postsTable {

        width: 90%;

    }

}

@media (max-width: 768px) {

    #page-wrap {

        display: block;

    }

    #flash-message {

        width: 100vw;

    }

    #php-flash-message .message {

        width: 100vw;

    }

    header {

        width: auto;
        height: 100px;

    }

    #header-position {

        position: relative;
        flex-direction: row;
        align-items: center;
        top: auto;
        left: auto;
        bottom: auto;
        height: 100px;
        padding: 0 0 0 30px;

    }

    #menu {

        display: none;

    }

    #menu-xs {

        width: 100%;
        background-color: #060606;
        opacity: 0.9;

    }

    #copyright {

        display: none;

    }

    #icon {

        position: absolute;
        top: 50%;
        left: 88%;
        transform: translate(-50%, -50%);
        width: 60px;
        height: 50px;
        cursor: pointer;
        border: 2px solid #efefef;
        border-radius: 2px;
        opacity: 0.7;
        transition: all 0.3s ease-in-out;

    }

    #icon:hover {

        background: transparent;
        opacity: 1;

    }

    #hamburger {

        width: 30px;
        height: 3px;
        background: #efefef;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 1px 1px 5px #666666;
        transition: all 0.3s ease-in-out;

    }

    #hamburger:before, #hamburger:after {

        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        background: #efefef;
        box-shadow: 1px 1px 5px #666666;
        transition: all 0.3s ease-in-out;

    }

    #hamburger:before {

        top: -10px;

    }

    #hamburger:after {

        top: 10px;

    }

    #icon.isActive #hamburger {

        background: transparent;
        box-shadow: none;

    }

    #icon.isActive #hamburger:before {

        top: 0;
        transform: rotate(45deg);

    }

    #icon.isActive #hamburger:after {

        top:0;
        transform: rotate(135deg);

    }

}

@media screen and (max-width: 620px) {

    /*                  Admin Home Page                  */

    #boxes {

        flex-direction: column;
        height: 720px;

    }

    .box {

        width: 80%;
        height: 200px;
        margin: 20px 0;

    }

    /*                  Add Post                    */

    #addPostFormWrap form {

        width: 95%;

    }

    /*                  Posts List                  */

    #postsTable {

        width: 90%;

    }

    #table-buttons {

        display: flex;
        flex-direction: column;

    }

    #table-buttons button {

        margin: 10px 0;

    }

}

@media screen and (max-width: 420px) {

    #php-flash-message .message {

        font-size: 1.5rem;

    }

    /*                  Admin Home Page                  */

    h1 {

        font-size: 2rem;

    }

    h3 {

        font-size: 1.5rem;

    }

    #boxes {

        height: 780px;

    }

    .box {

        width: 100%;
        height: 220px;
        margin: 20px 0;

    }

    /*                  Add Post                    */

    #addPostFormWrap {

        height: 880px;

    }

    #addPostFormWrap form {

        width: 100%;
        height: 100%;

    }

}
